In [1]:
print("hello world!")

hello world!

파이썬 기초

In [2]:
# 더하기
10 + 10

20

In [3]:
# 빼기
10 - 5

5

In [4]:
# 곱하기
10 + 5

15

In [6]:
# 나누기
100 / 5

20.0

In [7]:
# 제곱근은 ** tkdyd
10 ** 2

100

In [8]:
# 계산
(2 + 3) * ((3 + 5) * 5)

200

In [9]:
# 절대값 계산
a = 3
b = 5
abs(a - b)

2

변수

In [10]:
# 변수
a = 8
print(a)

8

In [15]:
#bmi 산출 예시 (몸무게 w : kg, 키 h : cm)
w = 76
h = 173
hm = h / 100
bmi = w / hm ** 2

print(bmi)

25.393431120318084

In [16]:
# 비만도 측정 예시(if 문)
if 35 <= bmi:
  print("당신의 비만도는 고도비만입니다. 건강을 위해 매우 많이 노력해 주세요!")
elif 30 <= bmi and bmi < 35:
  print("당신의 비만도는 2단계 비만입니다. 건강을 위해 많이 노력해주세요!")
elif 25 <= bmi and bmi < 30:
  print("당신의 비만도는 1단계 비만입니다. 건강을 위해 노력해 주세요!")
elif 23 <= bmi and bmi < 25:
  print("당신의 비만도는 과체중입니다. 건강을 위해 조금 노력이 필요합니다!")
elif 18.5 <= bmi and bmi < 23:
  print("당신의 비만도는 정상입니다. 지금과 같은 생활을 유지해 주세요!")
elif bmi < 18.5:
  print("당신의 비만도는 저체중입니다. 조금은 체중 증가가 필요합니다.")

당신의 비만도는 1단계 비만입니다. 건강을 위해 노력해 주세요!

데이터 타입(Data Type)

In [17]:
# 정수 타입
i = 1
type(i)

int

In [18]:
# 실수 타입
f = 2.5
type(f)

float

In [19]:
# 문자열 타입
s = "1"
type(s)

str

In [21]:
# 문자열 "5"를 숫자 3으로 나누면 에러 발생(Type Error)
"5" /  3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [22]:
# 문자열(str) "5"를 int 함수를 사용하여 숫자형으로 변환하면 연산 처리 가능
int("5")/3

1.6666666666666667

In [23]:
# 불린
type(True)

bool

In [24]:
type(False)

bool

제어구조

In [25]:
a = range(10) # 0 - 9까지 정수 목록 반환
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
  print(num * 2)

2
4
6
8
10

In [29]:
# range(시작값, 종료값, 증가값)
for i in range(1, 6):
  print(f"현재 값: {i}")

현재 값: 1
현재 값: 2
현재 값: 3
현재 값: 4
현재 값: 5